{% load static %}
<!DOCTYPE html>
<html>
<head>
<title></title>
    <link rel="stylesheet" href="{% static "css/style_base.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static "js/bootstrap-filestyle.min.js" %}"> </script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbar" >
    <ul class="navbar-nav mr-auto">
     <li class="nav-item">
			<a class="nav-link" href="{% url 'index' %}">Start page</a>
     </li>
    <li class="nav-item">
			<a class="nav-link" href="/admin">Admin page</a>
     </li>
	{% if user.is_authenticated %}
		{% if user.isClient %}
		  <li class="nav-item">
			<a class="nav-link" href="{% url 'my_projects' %}">My Projects</a>
		  </li>
		{% else %}
		  <li class="nav-item">
			<a class="nav-link" href="{% url 'projects' %}">Projects</a>
		  </li>
            <li class="nav-item">
			    <a class="nav-link" href="{% url 'project_preferences' %}">Project Preferences</a>
		    </li>
		{% endif %}

	{% else %}

         </ul>
	  <form class="form-inline" action="{% url 'login' %}" method="post">
       {% csrf_token %}
		<input class="form-control mr-sm-2 " type="text" name="username" placeholder="Username" required>
          <input class="form-control mr-sm-2 " type="password" name="password" placeholder="Password" required>
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
	  </form>
        <span>&nbsp;&nbsp;</span>
        <a class="btn btn-outline-primary my-2 my-sm-0" style="color: blue" href="{% url 'registration' %}">Sign up</a>
	{% endif %}
  </div>
{% if user.is_authenticated %}
<div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
            <li class="nav-item">
                <p class="loggedIn">Logged in as <strong>{{ user.username }}</strong>. <a href="{% url 'logout' %}">Log out</a>.</p>
            </li>

        </ul>
</div>
{% endif %}
</nav>
 {% block content %}
 {% endblock %}

</body>
 <script>
$("#submit").click(function(event) {

    var form = $("#projectDetalis");

    if (form[0].checkValidity() === false) {
      event.preventDefault()
      event.stopPropagation()
    }
    form.addClass('was-validated');

});
</script>
</html>